{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Prodotti</h1>
  <div class="row">
    {% for prodotto in prodotti%}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{{ prodotto.img_url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ prodotto.nome }}</h5>
          <p class="card-text">${{ prodotto.prezzo }}</p>
          <p class="card-text">Produttore: {{ prodotto.fornitore }}</p>
          <a href="#" class="btn btn-primary">Acquista</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
